# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
.env
.env.*
.venv/
venv/
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# Node / Frontend
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next/
dist/
build/

# =========================
# Flutter
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# =========================
# Cache
# =========================
.cache/

# =========================
# IDE / OS
# =========================
.DS_Store
.idea/
.vscode/
*.iml
Thumbs.db

# =========================
# Test / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
